/* CSS for mobile view  */
@media (max-width: 576px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr !important;
    padding-inline: 10px;
  }

  input,
  select {
    width: 100px !important;
    margin-bottom: 10px !important;
  }

  .filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Normal css  */

.main-content {
  min-height: 100%;
  padding-inline: 100px;
}

input {
  min-width: 200px;
}

select {
  padding: 10px;
  border-radius: 6px;
  min-width: 200px;
}

select:hover {
  cursor: pointer;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 10px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.badge {
  background-color: #ef5350;
}

.filters {
  display: flex;
  justify-content: center;
}
